<h1>home-page works!</h1>
<div *ngIf="weatherForecast" class="callout success">
    <h5>Todays weather is...</h5>
    <p>{{ weatherForecast }}</p>
    <button class="close-button" aria-label="Dismiss alert" type="button" (click)="weatherForecast=''">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="cell small-4"><input type="button" value="Get Weather" class="button primary" (click)="getWeather()"></div>
<div class="cell small-4"><input type="button" value="Logout" class="button primary" (click)="logout()"></div>

<app-post></app-post>