.login-page-background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.login-page-okta-form-container {
    .card {
        // Large and above
        width: 40rem;
        margin: 0;
        @include breakpoint(large down) {
            width: 30rem;
        }
        @include breakpoint(small down) {
            width: 100%;
            height: 100vh;
        }

        // Center the div
        margin-left: auto; 
        margin-right: auto; 
    }
    
    margin-top: 5rem;
    @include breakpoint(small down) {
        margin-top: 0;
    }
}