.profile-page-top-header-background {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.profile-page-compact-movie {
  
  width: 65%;
  @include breakpoint(xlarge down) {
    width: 85%;
  }
  @include breakpoint(small down) {
    width: 95%;
  }
}

.rotation-wrapper-outer {
    display: table;
    padding: 15%;
  }
  .rotation-wrapper-inner {
    padding: 50% 0;
    height: 0;
  }
  .element-to-rotate {
    display: block;
    transform-origin: top left;
    /* Note: for a CLOCKWISE rotation, use the commented-out
       transform instead of this one. */
    // transform: rotate(-90deg) translate(-100%);
    transform: rotate(90deg) translate(0, -100%);
    margin-top: -50%;
  
    /* Not vital, but possibly a good idea if the element you're rotating contains
       text and you want a single long vertical line of text and the pre-rotation
       width of your element is small enough that the text wraps: */
    white-space: nowrap;
  }