.off-canvas li.main-title {
    padding: 2.2rem .6rem .7rem 1rem;
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.5em;
    background-color: #03629F;
    box-shadow: 0 0 12px rgb(0 0 0 / 50%);
}

.off-canvas .close-button {
    color: #fff;
}