<div class="card post-card-container" style="margin: auto;">
  <img src="assets/images/the-matrix.jpg">
  <div class="card-section">
      <div class="grid-x align-center">
          <div class="cell shrink padding-right-1"><img src="assets/images/the-matrix.jpg" class="post-image-cropper"></div>
          <div class="cell auto grid-y align-center"><h3 class="margin-bottom-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem ex nulla atque voluptates accusantium iste unde sed numquam omnis?</h3></div>
      </div>
  </div>
</div>